<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      Todo App
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="material-icons">home</i>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/todos">
          <i class="material-icons">content_paste</i>
          <p>Todo List</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <i class="material-icons">supervisor_account</i>
          <p>User List</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">persons</i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</div>